body {
  background-color: #e5e5e5;
  color: #434455;
  font-family: "Roboto";
}

.logo {
  color: #2e2f42;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
}
.web {
  color: #4d5ae5;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
}
.list {
  list-style: none;
}

/* 
NAVY BLUE
#2E2F42 = color h, navy, hero background  */

/* 
IRIS
#4D5AE5 = botton color, logo color */

/* 
SLATE
#434455 = p color, adress color */

/* 
CLOUD
#F4F4FD = logo footer color , our teem background
 */

/* 
CORNFLOWER
#E7E9FC = text footer color */

/* 
#FFFFFF = header backgroud, teem photos background, 
hero text, hero botton text */

/* #E5E5E5 = background section 2,3 */

/*  */
