body {
  background: #ffffff;
  color: #434455;
  font-family: "Raleway", sans-serif;
}
.list {
  list-style: none;
}
/* header */
.nav .li {
  display: inline-block;
}
.logo-header {
  color: #2e2f42;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  width: 115px;
  height: 24px;
  left: 156px;
  top: 24px;
  display: inline;
  flex-direction: row;
  align-items: flex-start;
  padding: 24px 1240px 24px 156px;
  text-decoration: none;
}

.web,
.web-footer {
  color: #4d5ae5;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
}

.site-nav-link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-decoration: none;
}
.site-nav-link:active,
.site-nav-link:hover {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #404bbf;
  text-decoration: none;
}

.address-list-link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
}

.address-list-link:active,
.address-list-link:hover {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #404bbf;
  text-decoration: none;
}

/* main studio */
.h1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 60px;
  padding: 188px 473px 292px 473px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  width: 1440px;
  height: 600px;
  left: 0px;
  top: 72px;
  background: #2e2f42;
}
.section-hero > button {
  padding: 16px 32px;
  margin: 0;
  width: 169px;
  height: 56px;
  left: 20px;
  top: 20px;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  display: block;
}
.section-hero > button:hover {
  padding: 16px 32px;
  margin: 356px 635px 188px 636px;
  width: 169px;
  height: 56px;
  left: 20px;
  top: 20px;
  background: #404bbf;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  display: block;
}
.hero-button-content {
  width: 105px;
  height: 24px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  flex: none;
  order: 0;
  flex-grow: 0;
}
/* footer */
.footer {
  position: relative;
  width: 1440px;
  height: 310px;
  left: 0px;
  top: 2280px;
  background: #2e2f42;
}
.logo-footer {
  color: #f4f4fd;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
}

.footer-description {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #e7e9fc;
  width: 264px;
  height: 72px;
  left: 156px;
  top: 2418px;
  padding-left: 156px;
  padding-bottom: 100;
}
