:root {
  --hero-bgr-links-headings-logo-header-studio-color: #2e2f42;
  --main-bgr-color-hero-title: #ffffff;
  --main-text-color: #434455;
  --focus-active-links-main-logo-color: #4d5ae5;
  --footer-subtitle-color: #e7e9fc;
  --team-bgr-logo-footer-studio-color: #f4f4fd;
  --portfolio-btn-bgr-focus-hover: #404bbf;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.button {
  cursor: pointer;
  font-family: inherit;
}

body {
  background-color: var(--main-bgr-color--main-bgr-color-hero-title);
  color: var(--main-text-color);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* HEADER */
.header {
  border-bottom: 1px solid var(--footer-subtitle-color);
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.3;
  text-decoration: none;
  letter-spacing: 0.03em;
  color: var(--focus-active-links-main-logo-color);
}

.header-logo-studio {
  color: var(--hero-bgr-links-headings-logo-header-studio-color);
}

.footer-logo-studio {
  color: var(--team-bgr-logo-footer-studio-color);
}

.header-link {
  font-weight: 500;
  color: var(--main-text-color);
}

.header-link:hover,
.header:link:focus {
  color: var(--focus-active-links-main-logo-color);
}

.header-address-link {
  font-style: normal;
  color: var(--main-text-color);
}

.header-address-link:hover,
.header-address-link:focus {
  color: var(--focus-active-links-main-logo-color);
}

/* HERO */
.hero {
  background: var(--hero-bgr-links-headings-logo-header-studio-color);
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.1;
  text-align: center;
  color: var(--main-bgr-color-hero-title);
}

.hero-button {
  font-size: 16px;
  line-height: 1.5;
  background: var(--focus-active-links-main-logo-color);
  border-radius: 4px;
  padding: 16px 32px;
  font-weight: 500;
  letter-spacing: 0.04em;
  border: 0;
  color: var(--main-bgr-color-hero-title);
}

.hero-button:hover,
.hero-button:focus {
  background: var(--focus-active-links-main-logo-color);
}

/* ADVANTAGES */
.section-adventages-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--hero-bgr-links-headings-logo-header-studio-color);
}

/* PROJECTS */
.section-projects-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  color: var(--hero-bgr-links-headings-logo-header-studio-color);
}

/* TEAM */
.section-team {
  background-color: var(--team-bgr-logo-footer-studio-color);
}

.section-team-item {
  background-color: var(--main-bgr-color-hero-title);
}

.section-team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  color: var(--hero-bgr-links-headings-logo-header-studio-color);
}

.section-team-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--hero-bgr-links-headings-logo-header-studio-color);
}

/* FOOTER */
.footer {
  background: var(--hero-bgr-links-headings-logo-header-studio-color);
}

.footer-text {
  color: var(--footer-subtitle-color);
}

/* PORTFOLIO */

.portfolio-button {
  font-size: 16px;
  line-height: 1.5px;
  padding: 12px 24px;
  background: var(--team-bgr-logo-footer-studio-color);
  border: 1px solid var(--footer-subtitle-color);
  border-radius: 4px;
  font-weight: 500;
  letter-spacing: 0.04em;
  color: var(--focus-active-links-main-logo-color);
}
.portfolio-button:hover,
.portfolio-button:focus {
  background: var(--portfolio-btn-bgr-focus-hover);
  color: var(--main-bgr-color-hero-title);
}

.cards-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--hero-bgr-links-headings-logo-header-studio-color);
}
